body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 45, 46);
    height: 100vh;
    margin: 0 auto; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    font-weight: 400;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.container {
    flex-direction: column;
    background-color: #f3f3f3;
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.table {
    height: 80px;
    background-color: #d3d4d6;  
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.top_trigger_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px;
}

#top_trigger_button {
    width: 350px;
    height: 30px;
    margin-top: 10px;
    border: dashed 1px #b6b7b8;
}

#top_trigger_button_text {
    margin: 5px;
}

.first_section {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 15px;
}

.first_section_button {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 350px;
    height: 30px;
    margin-bottom: 15px;
}

.first_section_button_text {
    margin: 0;
    text-align: left;
}

.button_arrow {
    top: calc(50% - 5px);
    width: 6px;
    height: 6px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
    z-index: 10;
    margin-right: 10px;
    margin-top: 10px;
}

.distribution_type_button_list {
    display: none;
    background-color: rgb(243, 241, 241);
    width: 349px;
    height: 55px;
    border: 1px solid black;
}

.distribution_type_button_list > .distribution_type_button_text {
    margin: 7px;
    font-size: 14px ;
}

.managers_distribution_button_list {
    display: none;
    background-color: rgb(243, 241, 241);
    width: 349px;
    height: 55px;
    border: 1px solid black;
}

.managers_distribution_button_list > .managers_distribution_button_text {
    margin: 7px;
    font-size: 14px ;
}

.second_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin-left: 15px;
}

.checkbox_container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.second_section_checkbox {
    margin: 7px;
    width: 15px;
    height: 15px;
}

.second_section_checkbox_text {
    margin: 0;
    font-size: 14px;
}

.third_section {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}